html,
body {
  height: 100%;
}

#main_wrapper {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

a.no-decoration { text-decoration: none; }
a.no-decoration:hover { text-decoration: none; }

.thumbnail_img { width : 100%; display : block; }

.center_text {
  text-align: center;
  margin: 10px;
}
.center_text img {
  margin: 5px;
}

footer {
/*  height: 60px;
*/
  background-color: #333;
}
.footer-text {
  padding-top: 20px;
  padding-bottom: 20px;
}







